body {
	text-align: center-right; /* aligns all text to the center*/
	background-color:#E4DBCF;
	color: black;
	font-family: verdana;
	font-size: 18px;
	margin:0;
	padding:0;
}

header {
	margin: 0;
	padding: 0;
	background-color: black;
}

p {
	line-height: 23px;
	padding: 15px;
}

.logo {
	margin-right: 800px;
	color: white;
}

.left {
	text-align: left;
}

div.navbar {
	text-align: center;
	display: flex; /* flex boxes! */
	justify-content: center; /* changes items to show horizontally */
	align-items: center;
	}

div.links {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
	margin-left: 30px;
	margin-right: 30px;
	padding: 10px;
	font-size: 16px;
}

.banner-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("wichita.jpeg");
	height: 45%;
	background-position: center; /* centers the banner */
	background-repeat: no-repeat; /* stops the banner from repeating */
	background-size: cover;
	position: absolute;
	padding: 20px; 
	left: 0;
	right: 0;
}

.banner-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

div.webpage {
	margin-top: 400px;
	position: sticky; /* fix */
	display: flex;
	justify-content: center;
}

div.horizontal { /* allows for the divs with class horizontal to be shown horizontally */
	display: inline-block;
	margin-right: 30px; /* add spacing between items */
	
}

.dropdown { /*w3schools code but I understand how it works*/
	float: left; /* makes the drop boxes show aligned left */
	overflow: hidden; /* overflow is not shown */
}

.dropdown .dropbtn { /* visuals of the box before hovering */
	font-size: 18px;  
	border: none;
	outline: none;
	color: white; /* changes font color */
	padding: 14px 16px;
	background-color: inherit; /* takes the background color that was originally set */
	font-family: inherit; /* similar to background-color but font is inherited instead */
	margin: 0; /* no margins */
}

.dropdown:hover .dropbtn { /* a:hover means when hovering and .dropdown:hover and .dropbtn refer to the elements */
	background-color: rgba(0,0,0,0.2); /* what the background color of the box is when hovering over it */
}

.dropdown-content { /* visuals of the boxes that dropdown */
	display: none;
	position: absolute;
	background-color: #E4DBCF	; /* background color of the box*/
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1; /* placed on top of other elements */
}

.dropdown-content a { /* stacks the boxes on top of each other */
	float: none;	
	color: white; /* changes font color */
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown:hover .dropdown-content { /* actually makes the boxes drop down */
  display: block;
} /* end of w3schools*/

h3 {
	text-align: center;
	margin-left: 15px;
}

ul.contact_info {
	text-align: center;
	list-style: none;
}

.img {
	float: right;
	padding: 10px;
}

footer  {
	text-align: center;
	font-size: 10px;
}

fieldset { /* reduces the width of the fieldsets and makes it so that they appear in the center */
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
}

label.main {
	font-size: 15px;
	display: inline-block; /* labels are inline elements and padding can't be used without making labels show as blocks */
	padding-top: 5px; /* added padding in order to make it look nicer and less clumped */
	padding-bottom: 5px;
	border-radius: 10px;
}

input { /* changes the size of the text input fields */
	width: 250px;
}

input.button { /* made class size so that the buttons here are smaller than the text input size */
	width: 100px;
}

textarea {
	resize: vertical; /* makes it so that textarea expands vertically only */
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}
za:hover {
	color: black;
	background-color: transparent;
	txt-decoration: underline;
}